/* STANDARD */

*{
  margin: 0;
  padding: 0;
}

.crapprinciples {
  margin-left: 10%;
  margin-right: 10%;
}

/* INSERT CSS FOR HEADER HERE */


#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background-color:white;
    height: 4em;
    line-height: 2em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}


#header nav {
    position: absolute;
    right:10em;
    top: 2em;
    bottom:2em;
    height: 2em;
    line-height: 0.5em;
}
#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 3em;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    
}

a:visited {
    color:black;
    text-decoration: none;
}
a:link {
    color:black;
    text-decoration: none;
}

a:hover {
    color:black;
    text-decoration: none;
}




/* INSERT CSS FOR BANNER HERE */


/* ABOUT */
#about h2 {
  text-align: center;
  font-size: 75px;
  padding-bottom: 50px;
}

#about ul {
  list-style: none;
  height: auto;
}

#about li{
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.theideatekst h3 {
  font-size: 50px;
  padding-bottom: 25px;
}

.theideatekst {
  text-align: left;
}

.theideaimg {
  max-width: -webkit-fill-available;
}

.theconcepttekst h3 {
  font-size: 50px;
  padding-bottom: 25px;
}

.theconcepttekst {
  text-align: right;
}

.theconceptimg {
  max-width: -webkit-fill-available;
}
/* INSERT CSS FOR MEDIA HERE */



/* INSERT CSS FOR FOOTER HERE */
.footer {
  color: black;
  height: 50%;
  background-color: black;

}

.footer-text {
  color: white;
  text-align: right;
  margin-right:8.8%;
  font-size: 15px;
  padding: 3%;
}
