/* STANDARD */

*{
  margin: 0;
  padding: 0;

}

.crapprinciples {
  margin-left: 10%;
  margin-right: 10%;

}

body {
  font-family: 'Roboto', sans-serif;
       background-color: #EEEEEE
}

/* INSERT CSS FOR HEADER HERE */


#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background-color:white;
    height: 4em;
    line-height: 2em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}


#header nav {
    position: absolute;
    right:10em;
    top: 2em;
    bottom:2em;
    height: 2em;
    line-height: 0.5em;
}
#header nav ul {
    margin: 0;
    padding-right: 1.5em;
}

#header nav ul li {
    display: inline-block;
    margin-left: 3em;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}

a:link {
    color:black;
    text-decoration: none;
}

a:hover {
    color:#c1282e;
    text-decoration: none;
}




/* INSERT CSS FOR BANNER HERE */
#banner {
  background-image: url(img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50em;
}

.banner-text h2 {
    font-size:4vw;
  text-align: right;
  padding-top: 6em;
  color: white;
  padding-right: 0.4em;
}

/* ABOUT */
#about h2 {
  text-align: center;
  font-size: 5em;
  margin-top: 1em;
}

#about ul {
  list-style: none;
  height: auto;
}

#about li{
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding-top:1em;

}

.theideatekst h3 {
  font-size: 3em;
  padding-bottom: 0.3em;
  padding-top: 0.5em;

}

.theideatekst {
  text-align: left;
    line-height: 1.6;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 6em;
    background-color: white
}

.theideaimg {
  max-width: -webkit-fill-available;
    padding-top: 6.4em;

}

.theconcepttekst h3 {
  font-size: 3em;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}

.theconcepttekst {
  text-align: left;
    line-height: 1.6;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white
}

.theconceptimg {
  max-width: -webkit-fill-available;

}

.whowearetekst h2 {
  font-size: 3em;
  padding-bottom: 0.3em;
  padding-top: 1em;
}

.whowearetekst {
  text-align: left;
    line-height: 1.6;
    padding-top: 5em;
    padding-bottom: 5.35em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 0em;
    background-color: white
}

.whoweare {
  max-width: -webkit-fill-available;
    margin-top: 0em;
}

/* INSERT CSS FOR KNOWN FROM HERE*/
#known h3 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
  margin-top: 4em;
}

.knownfrom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

/* INSERT CSS FOR MEDIA HERE */
#media {
  margin-bottom: 25em;
}

#media h3 {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

.button1 {
	border: 1px solid #c1282e;
    height: 17em;
    width: 17em;
    border-radius: 10em;
    background-image: url(img/youtube1.svg);
    background-color: #c1282e;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
	float: left;
  margin-left: 10.5em;
}
.button2 {
	border: 1px solid #c1282e;
    height: 17em;
    width: 17em;
    border-radius: 10em;
    background-image: url(img/instagram1.svg);
    background-color: #c1282e;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
	float: left;
  margin-left: 1.5em;
}
.button3 {
	border: 1px solid #c1282e;
    height: 17em;
    width: 17em;
    border-radius: 10em;
    background-image: url(img/facebook1.svg);
    background-color: #c1282e;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
	float: left;
  margin-left: 1.5em;
}
.button4 {
	border: 1px solid #c1282e;
    height: 17em;
    width: 17em;
    border-radius: 10em;
    background-image: url(img/linkedin1.svg);
    background-color: #c1282e;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
	float: left;
  margin-left: 1.5em;
}
.overlay {
	background: #d23c40;
    height: 17em;
    width: 17em;
    border-radius: 10em;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
}

.button1:hover .overlay {
	opacity: 1;
}

.button2:hover .overlay {
	opacity: 1;
}

.button3:hover .overlay {
	opacity: 1;
}

.button4:hover .overlay {
	opacity: 1;
}

.text1 {
	color: #ffffff;
    font-size: 2em;
    text-align: center;
    padding-top: 2.8em;
}

.text2 {
	color: #ffffff;
    font-size: 2em;
    text-align: center;
    padding-top: 3.2em;
}

.text3 {
	color: #ffffff;
    font-size: 2em;
    text-align: center;
    padding-top: 3.2em;
}

.text4 {
	color: #ffffff;
    font-size: 2em;
    text-align: center;
    padding-top: 3.2em;

}

.socialmedia {
  width: 24%;
  height: auto;
  float: left;
  padding-left: 0.5em;
}

/*TESTING HOVER*/



/* INSERT CSS FOR FOOTER HERE */
#footer ul {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
}

.yt {
  background-image: url(img/yt.svg);
  background-repeat: no-repeat;
  height: 3em;
}

.fb {
  background-image: url(img/fb.svg);
  background-repeat: no-repeat;
  height: 3em;
}

.ig {
  background-image: url(img/ig.svg);
  background-repeat: no-repeat;
  height: 3em;
}

.in {
  background-image: url(img/in.svg);
  background-repeat: no-repeat;
  height: 3em;
}

#footer ul {
  list-style: none;
  background-color: #131313;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

#footer li {
  display: inline-block;
  width: 15em;
  vertical-align: top;
}

#footer li {
  display: inline-block;
  width: 15em;
  vertical-align: top;
}

#footer p {
  color: white;
  text-align: right;