/* STANDARD */

*{
  margin: 0;
  padding: 0;
}

.crapprinciples {
  margin-left: 10%;
  margin-right: 10%;
}

/* INSERT CSS FOR HEADER HERE */


/* INSERT CSS FOR BANNER HERE */


/* ABOUT */



/* INSERT CSS FOR MEDIA HERE */



/* INSERT CSS FOR FOOTER HERE */
